<launch>
    <node pkg="ov_cse_filter" type="message_handler" name="message_handler" output="screen">
    </node>
    
    <node pkg="ov_cse_filter" type="dynamic_estimator" name="dynamic_estimator" output="screen">
        <rosparam file="$(find ov_cse_filter)/config/quad_params.yaml"/>
    </node>
</launch>
